@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto Mono', monospace !important;
  /* background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
}

body {
  background-color: black;
}